
body {
    gap: 0px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 100, 0.7);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 6px 6px 6px rgba(39, 39, 35, 0.5);
    background-image: url(./velocidad-de-la-luz_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    width: 100%;
    height: 80px;
}
.title h1{
    background-image: url('vergil-devil-may-cry.gif');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
}
.navbar{
    top: -16px;
    width: 100%;
    height: 40px;
    background-color:blueviolet;
    position:relative;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-right: 40px;
}

.navbar a{
    text-decoration: dotted;
    color: white;
    font-size: 30px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.9);

}
.navbar a:hover{
    color: red;
    text-decoration: none;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    font-size: 35px;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);
    transition: all 0.4s;

}
.navbar a:active{
    text-decoration:none;
    color: rgb(255, 0, 0);
    box-shadow: 4px 4px 4px rgba(255, 0, 0, 1);
    font-size: 20px;
    transition: 0.2s;
}
.Yu-Gi-Oh{
    display: none;
    width: auto;
    background-color:blueviolet;
    border: solid red;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);

}
.navbar ul li:hover .Yu-Gi-Oh{
    display: block;
    position: relative;
    font-size: 40px;
    z-index: 5;
}
.Yu-Gi-Oh ul{
    display: block;
    margin-left: -40px;
    
}
.Genshin-Impact{
    display: none;
    width: auto;
    background-color:blueviolet;
    border: solid red;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);
}
.navbar ul li:hover .Genshin-Impact{
    display: block;
    position: relative;
    font-size: 40px;
    z-index: 5;

}
.Genshin-Impact ul{
    display: block;
    margin-left: -40px;
}
.Digimon{
    display: none;
    width: auto;
    background-color:blueviolet;
    border: solid red;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);
}
.navbar ul li:hover .Digimon{
    display: block;
    position: relative;
    font-size: 40px;
    z-index: 5;

    }
.Digimon ul{
    display: block;
    margin-left: -40px;
}
.Valorant{
    display: none;
    width: auto;
    background-color:blueviolet;
    border: solid red;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);
}
.navbar ul li:hover .Valorant{
    display: block;
    position: relative;
    font-size: 40px;
    z-index: 5;

    }
.Valorant ul{
    display: block;
    margin-left: -40px;
}
.LOL{
    display: none;
    width: auto;
    background-color:blueviolet;
    border: solid red;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);
}
.navbar ul li:hover .LOL{
    display: block;
    position: relative;
    font-size: 40px;
    z-index: 5;
}
.LOL ul{
    display: block;
    margin-left: -40px;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidecontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 28%;
    height: auto;
}

.sidecontainer .login{
    position: relative;
    width: 100%;
    background: white;
    border: solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
  }
  .login h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .login form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: blueviolet;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: blueviolet;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: blueviolet;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: blueviolet;
    transition: .5s;
    transform: scale(1.05);

  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: blueviolet;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  
.sidecontainer .contact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: white;
    border: solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  
  
  .card{
    background: white;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 2);
    cursor: pointer;
  }
  
  .card-icon{
    font-size: 28px;
    background: blueviolet;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;

  }
  
  .card:hover .card-icon{
    background: none;
    color: #ff6348;
    transform: scale(1.6) translateY(-10px);
  }
  
  .card a{
    margin-top: 0px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 1px;
    opacity: 0.5;
    transition: 0.3s linear;
    text-decoration: none;
  }
  
  .card:hover a{
    max-height: 40px;
    opacity: 1;
  }
  
.contact h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  } 
.preview h1{
    margin-left: 10px;
}
.preview a{
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
}
.preview{
    display:flexbox;
    justify-content:flex-start;
    flex-wrap: wrap;
    background-color: aliceblue;
    position: relative;
    border: solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    width: 69%;
    height: auto;
}
.cards{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.carteY{
    position: relative;
    height: 340px;
    width: 230px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background-image: url(./slifer\ le\ dragon\ celeste.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.info{
    position: relative;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
    height: auto;
    width: 70%;
}
.buy{
    position: relative;
    display: flex;
    justify-content: center;
}
.buy a{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: larger;
    width: 10%;
    height: auto;
    border: solid  2px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
.videos{
    position: relative;
    display: flex;
    justify-content: center;
    width: 98%;
    height: 50%;
    top: 5vh;
}
 
footer{
    position: relative;
    width: 100%;
    height: auto;
    background: rgb(44, 44, 44);
}
.botbarre{
	max-width: 90%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: relative;
	left:0;
	bottom: -10px;
	background-color: blueviolet;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media screen and (max-width: 991px) {

    body {
        width: 100%;
        height: auto;
        font-size: 10px;
    }

    .navbar {
        width: 100%;
        font-size: 10px;
    }
    .navbar ul li{
        width: 80%;
    }
    .navbar ul li a{
        font-size: 15px;
    }
    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .carteY{
        width: 50px;
        height: 70px;
    }
}